*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

header {
    background-color: rgb(247, 245, 245);
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

nav ul li {
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding: .25rem;
    margin: 5px 1rem;
    list-style: none;
    
}
a {
    text-decoration: none;
    color: black;
}

#pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 65%;
    background-color: rgb(247, 245, 245) ;
}

header div p {
    text-align: center;
    padding: 1rem .5rem 3rem;
}

h2 {
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    background-color: white;
}

.thumbnails {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 500px;
    background-color: white;
}

main p, h3 {
    text-align: center;
}

h3 {
    padding: 1rem;
}

main p {
    padding: 0 1rem 2rem 1rem;
}

h4, .contact-info {
    text-align: center;
}

h4 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.contact-info {
    padding: 1rem;
}

footer {
    background-color: rgb(247, 245, 245);

}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
    border-top: 1px solid lightgray;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hpc {
    display: flex;
}

.hpc p {
    padding: .5rem;
}

.hide {
    display: none;
}
.footer-nav p {
    padding: .5rem;
}




/* MEDIA QUERIES */

@media (min-width: 768px) {

    .hide {
        display: initial;
    }

    .hidebtt {
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        background-color: rgb(247, 245, 245);
    }

    .cover {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 2rem 0 2rem;
    }


    .cover p {
        padding-top: 2rem;
        text-align: left;
        font-size: 1.25rem;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .col {
        flex-basis: 50%;
    }

    main p {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .closing {
        padding: 0 10rem 0 10rem;
    }

}


@media (min-width: 1024px) {
    .col {
        flex-basis: 33%;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .navbar-list {
        align-items: center;
    }

}