*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

header {
    background-color: rgb(247, 245, 245);
}
h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

nav ul li {
    text-align: center;
    background-color: white;
    font-weight: bold;
    padding: .25rem;
    margin: 5px 1rem;
    list-style: none;
}

#pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 65%;
    max-width: 350px;
    background-color: rgb(247, 245, 245) ;
}

header div p {
    text-align: center;
    padding: 1rem .5rem 3rem;
}

h2 {
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    background-color: white;
}

.thumbnails {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 500px;
    background-color: white;
}

main p, h3 {
    text-align: center;
}

h3 {
    padding: 1rem;
}

main p {
    padding: 0 1rem 2rem 1rem;
}

h4, .contact-info {
    text-align: center;
}

h4 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.contact-info {
    padding: 1rem;
}
